
@{
    ViewBag.Title = "AboutUs";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <section id="about" class="about myMargin">
        <div class="container-fluid" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-12 text-justify">

                    <p>
                        Welcome to PiparwarWeb.com.We are a fully fledged reckoned managed service provider that has been offering innovative and latest technology solutions to businesses in Piparwar area. We feel pride in enabling our vast base of clients from all around to customize their infrastructure, processes and provide them the very best in an instant.
                    </p>
                    <p>
                        We have a team of dedicated and passionate professionals who are known to apply for the best practice standards and make sure to even go an extra mile if required to ensure optimal client’s satisfaction. Till date, we have helped our clients in proffering them with excellent IT Solutions such as Web App Development, Website Designing, Mobile Application Development, Data Analysis, Digital Marketing, Database, Cloud Solutions, Web Hosting, Trainings and Workshops .
                    </p>
                    <p>
                        Our vast range of services addresses every facet of business right from planning to designing, throughout construction, engineering, operations, procurement, delivery and maintenance. Our highly collaborative network comprises bunch of experienced and talented recruiters using the latest technology and systems to meet with the client’s staffing and recruitment needs in the best possible way out.  Our team is always there at your service to consult and advice in the best possible way out.
                    </p>
                    <p>
                        At PiparwarWeb.com, we thoroughly understand that the industry market and global trade is been consistently changing and expanding in order to meet diverse customer’s requirements. This is the prime reason where our solutions and services come into picture. We proffer not only flexible logistics solutions but also, they are tailored to meet different individuals as well as client’s needs to the core. No matter, whether the client is been seeking for same day logistics delivery or pallet delivery or next day delivery solution, we have the solution for everything.
                    </p>
                    <p>
                        <div style="background-image:linear-gradient(to right, white, DarkBlue, white)" class="text-center text-white"><h3> Mission</h3></div>
                        <br />

                        The purpose of our business is to create a customer who creates customers! A satisfied customer is the best business strategy of all.
                    </p>
                    <p>
                        <div style="background-image:linear-gradient(to right, white, DarkBlue, white)" class="text-center text-white"><h3> Vision</h3></div>
                        <br />

                        We aim to be the first choice and the best choice in providing our services to customers. We elevate our client’s business performance and its employees lives to a level beyond their expectations. To that end, we will commit our time, our energy, our thought and our experience till we succeed together.
                    </p>
                    <p>
                        <div style="background-image:linear-gradient(to right, white, DarkBlue, white)" class="text-center text-white"><h3> Why PiparwarWeb.com ?</h3></div>
                        <br />

                        Our team having the relevant expertise and experience that is needed.
                        Our personnel are aware of the latest technology and trends and that is required to get the job done proficiently.
                        Our cost-effective pricing structure for the services and solutions we provide.
                        Our forward-looking approach do offers customized solutions to our clients as per their discerning requirement.
                        With our international network, we assure to render door to door logistics freight delivery to the addressee within your budget and time constraint.

                        In all, whatever is your requirement, you can trust LWFS with the same. We aim to deliver and cater as per your preferences. Want to know more of our proffering? Get in touch with us anytime and we will get back to you at its earliest. We are simply looking forward to hearing from you.
                    </p>
                </div>
            </div>
        </div>
    </section>
    

